<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Deck</title>
    </head>
    <body>
        <div id="app2">
            <!----------------------------------------- Navigation bar ---------------------------------------------------->
        <nav-bar :username="username"></nav-bar>

        <!--------------------------------------------- Error messages ---------------------------------------------------->
        {% for message in get_flashed_messages() %}
            {% if message != "Please log in to access this page." %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}

        <!--------------------------------------------- All Cards in the deck ------------------------------------------>
        <show-cards :cards="cards" :deck="deck"></show-cards>
        <!------------------------------------------------- Bootstrap Modal - Edit Card Form ---------------------------------------------->
        <!-------------------------------------------------------------- Edit Deck ------------------------------------------------------------->
        <edit-deck :deck="deck"></edit-deck>
            <!---------------------------- Script to genarate specific data in the bootstrap modal for selected card ------------------------------------->
        </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/static/scripts/edit_deck.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    </body>
</html>