<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div id="app">
        <!----------------------------------------- Navigation bar ---------------------------------------------------->
        <nav-bar :username="username"></nav-bar>
        <!--------------------------------------------- Error messages ---------------------------------------------------->
        <!-- TODO if time chage to vue  -->
        {% for message in get_flashed_messages() %}
            {% if message != "Please log in to access this page." %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}

        <div class="p-3">
            <h2 class="d-inline font-weight-normal h1">Your Decks</h2>
            <button class="btn btn-secondary float-right m-2" data-toggle="modal" data-target="#addCardModal">Add Card</button>
            <button class="btn btn btn-dark float-right m-2" data-toggle="modal" data-target="#addDeckModal">Add Deck</button>
        </div>

                                <!-- ----------------------------Bootstrap Modals----------------------------------------- -->

        <!------------------------------------------------- Add deck Modal - Create Deck Form ---------------------------------------------------------------->
        <div class="modal fade" id="addDeckModal" tabindex="-1" role="dialog" aria-labelledby="addDeckModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addDeckModalLabel">Create a new deck</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-danger">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/add" method="post" id="add_deck">
                            <div class="form-group">
                                <label for="deck_name">Name</label>
                                <input type="text" id ="deck_name" name="deck_name" class="form-control" placeholder="Enter deck name" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button form="add_deck" class="btn btn-success">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------- Add Card Modal - Add Card Form ---------------------------------------------------------------->
        <div class="modal fade" id="addCardModal" tabindex="-1" role="dialog" aria-labelledby="addCardModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCardModalLabel">Add a new card</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-danger">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/add_card" method="post" id="add_card">
                            <div class="form-group">
                                <label for="deck_name">Choose a Deck</label>
                                <select id="deck_name" name="deck_name" class="form-control">
                                    <option v-for="deck in decks" :value="deck.id">[[deck.name]]</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="card_front">Question</label>
                                <input type="text" class="form-control" id="card_front" name="card_front" placeholder="Enter question" required>
                            </div>
                            <div class="form-group">
                                <label for="card_back">Answer</label>
                                <input type="text" class="form-control" id="card_back" name="card_back" placeholder="Enter answer" required>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button form="add_card" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------ User's Decks --------------------------------------->
        <div v-if="decks" class="d-flex flex-wrap">
            <user-deck v-for="deck in decks" :deck="deck"></user-deck>
        </div>
        <div v-else class="d-flex m-5 justify-content-center">
            <p class="text-dark display-4">No deck is found, add a new one!</p>
        </div>
    </div>
    <!-- Setting local storage for auth token  -->
     <script>
        window.onload = function() {
        let token = "{{token}}"
        localStorage.setItem("token", token);
};
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/scripts/app.js"></script>
</body>
</html>