<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <div id="app3">
    <!----------------------------------------- Navigation bar ---------------------------------------------------->
    <nav-bar :username="username"></nav-bar>

    <!-------------------------------------------- Deck Information  ------------------------------------------------->
    <deck :deck="deck"></deck>

    <h1 class="m-3 font-weight-normal">Review deck</h1>
    <!-------------------------------------------- Card Review  ---------------------------------------------------->
    <deck-review :deck="deck" :cards="cards" :curr_card="curr_card"></deck-review>
    </div>
    <link rel="stylesheet" href="/static/styles/review.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/static/scripts/review.js"></script>
</body>
</html>